body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.head {
    padding-top: 63px;
}

.logo-title {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo-title-link {
    text-decoration: none;
    display: inline-block;
}

.decor-logo {
color: rgb(39, 183, 231);
}

.head-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    margin-top: 38px;
}

.head-nav-item {
    padding: 26px 38px 19px;
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    
}

.head-nav-item:hover {
    background: #222F3A;
    transition: 1s;
}

.nav-border-close {
    border-right: 1px solid #FFFFFF;
}

.head-nav-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.aside-nav {
    border: 1px solid #000000;
    margin-right: 52px;
    width: 344px;
}

.aside-nav-item {
    padding: 26px 44px 26px;
    cursor: pointer;
}

.aside-nav-item:hover {
    background: #DBDBDB;
    transition: 1s;
}

.aside-nav-link {
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
}

.aside-nav-item:hover .aside-nav-link {
    color: #35444F;
    padding-left: 10px;
    transition: 1s;
}

.main-section {
    display: flex;
    margin-top: 48px;
}

 img {
    width: 320px;
    height: 381px; 
    padding-top: 75px; 
    padding-bottom: 75px;
}

img:hover {
    transform: scale(1.2);
    transition: 1s;
}

div {
    border: 1px solid #000000;
    text-align: center;
}
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 34px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);;
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.footer-nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 35px;
}

.footer-nav-link {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    transition: 1s;
}

.info-copy {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-decoration: none;
    margin-right: 40px;
}
